{% extends "pages/base.html" %}

{% block title %}
Quốc Hương
{% endblock %}

{% block content %}

<div class="atozdeals-mobile-section">
	
	<div class="atozdeals-mobile-menu l-rounded">
	<ul>
		<li>
			<a href="#" target="_blank" class="icon fa fa-mobile">
				<span>Bàn gỗ</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-tablet">
				<span>Ghế gỗ</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-shopping-bag">
				<span>Lan Can Gỗ</span>				
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-automobile">
				<span>Chân Cầu Thang</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-rocket">
				<span>Tượng gỗ</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-desktop">
				<span>Tủ gỗ</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-paper-plane">
				<span>Giường gỗ</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-map-marker">
				<span>Đồ điêu khắc</span>
			</a>
		</li>
		<li>
			<a href="#" class="icon fa fa-truck">
				<span>Khác</span>
			</a>
		</li>
	</ul>
</div>
</div>

{% endblock %}